<button mat-raised-button color="warn" (click)="deleteMapPath()">Удалить</button>
<button mat-raised-button color="primary" (click)="playMap()">Воспроизвести</button>
<div class="description">
	<p>Описание местоположения:</p>
	<div *ngIf="info$ | async as info">
		<table>
			<tr *ngIf="info.components.country; else location">
				Страна:
				{{
					info.components.country
				}}
			</tr>
			<ng-template #location> Местоположение: {{ info.formatted }} </ng-template>
			<tr *ngIf="info.components.city || info.components.town">
				Город:
				{{
					info.components.city || info.components.town
				}}
			</tr>
			<tr *ngIf="info.components.village">
				Поселение:
				{{
					info.components.village
				}}
			</tr>
			<tr *ngIf="info.components.region || info.components.state">
				Регион:
				{{
					info.components.region || info.components.state
				}}
			</tr>
			<tr>
				Широта:
				{{
					info.geometry.lat
				}}
			</tr>
			<tr>
				Долгота:
				{{
					info.geometry.lng
				}}
			</tr>
		</table>
	</div>
</div>
