<button mat-raised-button color="warn" (click)="deleteMapPath()">Удалить</button>
<button mat-raised-button color="primary" (click)="playMap()">Воспроизвести</button>
<div class="description">
	<p>Описание местоположения:</p>
	<div *ngIf="info$ | async as info">
		<table>
			<thead>
				<td>Страна</td>
				<td>Город</td>
				<tr></tr>
			</thead>
			<td>
				{{ info.components.country }}
			</td>
			<td>
				{{ info.components.city }}
			</td>
			<tr>
				Широта:
				{{
					info.geometry.lat
				}}
			</tr>
			<tr>
				Долгота:
				{{
					info.geometry.lng
				}}
			</tr>
		</table>
	</div>
</div>
